<div class="col-md-12">
    
    <div class="card">
      <div class="card-header">
        <strong>Créer</strong> un niveau
      </div>
      <div class="card-body">
        <form >
          <div class="form-group">
            <label for="nf-email">Renseigner le niveau à ajouter</label>
            <input type="text" id="titreniveau" NgModel="titreniveau" class="form-control" placeholder="Enter le Nom.." >     
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
      </div>
    </div>
</div><!--/.col-->
